<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="MsiPackage" Manufacturer="Deployment Dojo" Version="1.0.0.0" UpgradeCode="f78003d0-867d-41a5-a3bc-91fc1a707313">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
