<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>
		<Property Id="CUSTOMER" Value="Valued" />
		
		<ComponentGroup Id="Stuff" Directory="INSTALLFOLDER">
			<Component>
				<File Source="ConsoleApp1.exe" />
			</Component>
			<Component>
				<File Source="ConsoleApp1.dll" />
			</Component>
			<Component>
				<File Source="ConsoleApp1.runtimeconfig.json" />
			</Component>
			<Component>
				<!-- TODO: Set the values for these registry keys -->
				<RegistryValue Root="HKLM" Key="SOFTWARE\BeltTest" Name="Edition" Value="!(wix.Edition)" />
				<RegistryValue Root="HKLM" Key="SOFTWARE\BeltTest" Name="Customer" Value="[CUSTOMER]" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>