<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Ep14" Manufacturer="TODO Manufacturer" Version="1.0.0.0" UpgradeCode="813ce145-b4e0-4449-a36f-b8f935a0bbd7">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
