<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Ep15" Manufacturer="!(loc.Manufacturer)" Version="0.9.0.0" UpgradeCode="0aa35297-1421-46a1-a499-89faf74e0108">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
