<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Name="~Ep7" Manufacturer="Deployment Dojo" Version="1" UpgradeCode="814a0fc2-e49f-4023-9f53-dd4c0740dbca">
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is installed." />

        <StandardDirectory Id="ProgramFilesFolder">
            <Directory Id="InstallFolder" Name="~Ep7" />
        </StandardDirectory>

        <Feature Id="Main">
            <ComponentGroupRef Id="InstallComponents" />
        </Feature>
    </Package>
</Wix>