<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Ep13" Manufacturer="Deployment Dojo" Version="1.0.1.0" UpgradeCode="f98c517c-04ce-419e-b260-0eec60b972eb">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
