<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ExampleComponents" Directory="INSTALLFOLDER">
      <Component>
		  <RegistryValue Root="HKLM" Key="Software\~Ep12" Name="Example" Value="Episode 12 - $(Version)" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
