<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Package Name="Kata #1" Manufacturer="Deployment Dojo"
        UpgradeCode="5764f49a-7fd5-4154-a54b-f5fe8de757a7" Language="1033"
        Version="0.9">

        <Feature Id="Main">
            <Component Directory="DojoFolder">
                <File Id="a.txt" Source="a.txt" />
            </Component>
        </Feature>

        <StandardDirectory Id="ProgramFilesFolder">
            <Directory Id="DojoFolder" Name="~Dojo - Kata #1" />
        </StandardDirectory>
    </Package>
</Wix>